.portada{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/paginasWeb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:fill;
  height: 400px;
}
.portada>h1{
  color: white;
  font-weight: bolder;
  font-size: 33px;
  text-shadow: 2px 3px 3px 2px;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 10px;
}