.administrador{
  /* background-color: red; */
  min-height: 800px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}
.administrador-form{
  width: 80%;
  background-color: gray;
  display: grid;
}
.administrador-form>form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.administrador-form>form>input{
  padding: 5px;
  font-size: 19px;
  border-radius: 8px;
  text-align: center;
  width: 500px;
}
.administrador-botones{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:10px 0 20px 0;
}
.administrador-botones>button{
  width: 120px;
  padding: 9px;
  font-size: 19px;
  border: none;
  border-radius: 5px;

}
.administrador-tabla{
  margin: 15px 0;
  padding: 10px 0;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.administrador-tabla>table{
  width: 90% ;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
.administrador-tabla>table>thead>tr>th{
  background-color: black;
  color: white;
}
.administrador-tabla>table>tr, td ,th{
  border: 1px solid black;
  font-size: 18px;
}